.navBar {
    background:#394146;
	background-color: #454e54;
	font-size: 3.0em;
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
}
.hero {
	background-color: #526c7a;
	height: 40vh;
	color: white;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}
.label {
	text-align: center;
	font-size: 2.0em;
	color: white;
	font-family: 'Roboto Mono', monospace;
}
.villain {
	background-color: #3d515c;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color:white;
}
footer {
    background:#394146;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height:4vh;
    color: #999999;
	font-family: 'Roboto Mono', monospace;
	font-size: 2vh;
	padding-top: .5vh;
	padding-bottom: .5vh
}
#infos {
	margin-top: 4vh;
	color: white;
    opacity: .3; 
	font-family: 'Roboto Mono', monospace;
	padding-top: 1.5em;
	font-size: 0.8em;
}
.outer-div-top {
	padding-top: 8vh;
	padding-left: 15vw;
	padding-right: 15vw;
}
.outer-div-bottom {
	padding-top: 5vh;
	padding-left: 15vw;
	padding-right: 15vw;
}
div input.inputArea {
	margin: 30px auto; 
	/*width: 50vw;*/
}

.love {
	color: red;
	font-weight: bold;
}

input {
	text-align: center;
}
input::-webkit-input-placeholder {
   color: white;
   opacity: .15;
}
input:-moz-placeholder { /* Firefox 18- */
   color: white;
   opacity: .15;  
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   opacity: .15;  
}
input:-ms-input-placeholder {  
   color: white;
   opacity: .15;  
}