<!DOCTYPE html>
<html>
	<head>
		<title>Url Shortener</title>
		<script src="/angular/angular.js"></script>
		<script src="/clipboard/dist/clipboard.min.js"></script>
		<script src="/app.bundle.js"></script>
		<link href="/css/stylesheet.css" rel='stylesheet'>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/materialize-css/dist/css/materialize.css"  media="screen,projection"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	  <nav>
	    <div class="navBar">
	      <a>SHORTEN ME</a>
	      </ul>
	    </div>
	  </nav>
	<body ng-app="urlShortener" class="villain">
	  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      	<script type="text/javascript" src="materialize-css/dist/js/materialize.min.js"></script>
		<div ng-controller="shortenerCtrl">
			<form> 
				<div class="row col s12 hero">
					<div class='outer-div-top'>
						<div class="inner-div">
							<input name="textarea1" class="inputArea" ng-model="inputUrl" placeholder="Enter a URL here" autocomplete="off"></input>
							<button class='btn waves-effect waves-light' ng-click='getShortUrl()'>Shorten
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</div>
			</form>
				<div class="row col s6">
					<div class="outer-div-bottom">
						<div>
							<input id="shortUrl" name='shortUrlArea' class='inputArea' ng-show="shortUrl" ng-href="{{shortUrl}}" value='{{shortUrl}}'></input>
							<button ng-show="shortUrl" class="btn waves-effect waves-light" data-clipboard-target="#shortUrl">copy
								<i class="material-icons right">cloud</i>
							</button>
							<div id="infos" ng-show="shortUrl">Link Accessed: {{clickCount}} Times<br>Time Last Accessed: {{lastClicked}}</div>
						</div>
					</div>
				</div>
			<footer class="footer">
          		<div class="footer-copyright"> Made with <i class='love'>&#x2661;</i> in NYC</div>
        	</footer>
	</body>
</html>